<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/style.css">
        <script type="text/javascript" src="../scripts/home-script.js"></script>
    </head>
    <body>
        <div id="home-content">
            
            <h1><%=user%>'s Garden</h1>
            <h2>Garden Beds</h2>
            <div id="home-garden-grid">
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        a
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 1</span>
                        <p><em>"You've been a fool, and so have I<br>So come and be my wife"</em></p>
                        <a class="grid-item-action" href="/customize/1">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        b
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 2</span>
                        <p><em>"And let us try before we die<br>To make some sense of life"</em></p>
                        <a class="grid-item-action" href="/customize/2">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        c
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 3</span>
                        <p><em>"We're neither pure nor wise nor good<br>We'll do the best we know"</em></p>
                        <a class="grid-item-action" href="/customize/3">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        d
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 4</span>
                        <p><em>"We'll build our house<br>and chop our wood"</em></p>
                        <a class="grid-item-action" href="/customize/4">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        e
                    </div>
                    <div class="grid-item-back" id="grid-item-5">
                        <span>Garden Bed 5</span>
                        <p><em>"And make our garden grow"</em></p>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        f
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 6</span>
                        <p><em>"Let dreamers dream what worlds they please<br>Those Edens can't be found"</em></p>
                        <a class="grid-item-action" href="/customize/6">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        g
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 7</span>
                        <p><em>"The sweetest flowers, the fairest trees<br>Are grown in solid ground"</em></p>
                        <a class="grid-item-action" href="/customize/7">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        h
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 8</span>
                        <p><em>"We're neither pure nor wise nor good<br>We'll do the best we know"</em></p>
                        <a class="grid-item-action" href="/customize/8">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        i
                    </div>
                    <div class="grid-item-back">
                        <span>Garden Bed 9</span>
                        <p><em>"We'll build our house<br>and chop our wood"</em></p>
                        <a class="grid-item-action" href="/customize/9">Edit Bed</a>
                    </div>
                </div></div>
                <div class="home-grid-item"><div class="grid-item-inner">
                    <div class="grid-item-front">
                        j
                    </div>
                    <div class="grid-item-back" id="grid-item-5">
                        <span>Garden Bed 10</span>
                        <p><em>"And make our garden grow"</em></p>
                    </div>
                </div></div>
                
            </div>
            
            <a id="home-action" href="/prelude?volume=on">Make Your Garden Grow</a>
        </div>
        <a id="home-logout" href="/logout"> < Log Out</a>
        <span id="home-volume">Volume On ✓</span>
    </body>
</html>