<html>
    <head>
        <title>Make Your Garden Grow</title>
        <link rel="stylesheet" href="/style.css">
        <script type="text/javascript" src="../scripts/index-script.js"></script>
    </head>
    <body style="overflow: hidden">
        <div id="main-page-content">
            <h1 id="index-title1">Make Your Garden <br><span id="index-title-grow">GROW</span></h1>
            <div id="main-page-links">
                <a href="/prelude?volume=on">Visit A Garden</a>
                <a href="/home">Create Your Own</a>
            </div>
            <p id="main-page-blurb">inspiration and lyrics from Leonard Bernstein's <em>Candide</em></p>
        </div>
    </body>
</html>