<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    </head>
    <body>
        <div class="form-container">
            <h1>Register</h1>
            <form method="POST" action="/signup" class="entry-form">
                <div class="entry-form-field">
                    <span>Enter username:</span>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="entry-form-field">
                    <span>Enter password:</span>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="entry-form-field">
                    <span>Repeat password:</span>
                    <input type="password" name="password2" placeholder="Password">
                </div>
                <input type="submit" name="submitbutton" value="Make Your Account"> 
                
            </form>

            <a class="return-index" href="/"> < Back</a>
        </div>
        <script src="../sketches/fractaltreesketch.js"></script>
    </body>
</html>